@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* { margin: 0; }

// Variables
$firstBgColor: hsl(254, 88%, 90%);
$secondBgColor: hsl(256, 67%, 59%);
$thirdBgColor: hsl(31, 66%, 93%);
$fourthBgColor: hsl(39, 100%, 71%);
$fifthBgColor: hsl(0, 0%, 100%);
$textColor: hsl(0, 0%, 7%);

$txSize: 1.1em;
$lightWeight: 400;
$boldWeight: 500;

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    padding-block: 1rem;

    font-family: "DM Sans", sans-serif;
    font-size: $txSize;
    background-color: wheat;
    color: $textColor;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    img { max-width: 280px; }

    &__element {
        width: min(80%, 600px);
        display: flex;
        flex-direction: column;
        gap: 1rem;

        border-radius: 8px;
        overflow: hidden;
        padding: 2rem;

        h1 { font-size: $txSize*2.5; font-weight: $boldWeight; }
        h2 { font-size: $txSize*2; font-weight: $boldWeight; }
    }

    .one {
        color: white;
        align-items: center;
        text-align: center;
        background-color: $secondBgColor ;
    }
    .five {
        align-items: center;
        text-align: center;
        background-color: $secondBgColor ;
    }
    .two { background-color: $fifthBgColor ;}
    .three { background-color: $fourthBgColor ; }
    .four {background-color: $firstBgColor ; }
    .six { background-color: $fifthBgColor ; }
    .seven { background-color: $thirdBgColor ; }
    .eight { background-color: $fourthBgColor ; }
}

@media screen and (550px < width < 768px) {
    .container {
        display: grid;
        grid-template-areas:
        "one one"
        "two three"
        "four eight"
        "six seven"
        "five five";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, max-content);
        place-items: center;
        gap: 2rem;

        .one { grid-area: one }
        .two { grid-area: two; }
        .three { grid-area: three; }
        .four { grid-area: four; }
        .five { grid-area: five; flex-direction: row; }
        .six { grid-area: six; }
        .seven { grid-area: seven; }
        .eight { grid-area: eight; }

    }
}

@media screen and (width > 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 0.5fr) repeat(3, 1fr);

        &__element {
            min-width: 0;
            min-height: 0;

            & > * {
                display: none;
            }
        }

        .one { grid-column: 2/4; grid-row: 1/4; }
        .two { grid-column: 2; grid-row: 4/6; }
        .three { grid-column: 3; grid-row: 4/6; }
        .four { grid-column: 4; grid-row: 1/6; }
        .five { grid-column: 3 / 5; grid-row: 6/8; flex-direction: row; }
        .six { grid-column: 2; grid-row: 6/8; }
        .seven { grid-column: 1; grid-row: 1/5; }
        .eight { grid-column: 1; grid-row: 5/8; }

    }
}