@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: "DM Sans", sans-serif;
  font-size: 1.1em;
  background-color: wheat;
  color: hsl(0, 0%, 7%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}
.container__element {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 8px;
  padding: 1.5rem;
}
.container__element h1, .container__element h2 {
  font-weight: 500;
}
.container .one, .container .five {
  color: white;
  align-items: center;
  text-align: center;
  background-color: hsl(256, 67%, 59%);
}
.container .two {
  background-color: hsl(0, 0%, 100%);
}
.container .three {
  background-color: hsl(39, 100%, 71%);
}
.container .four {
  background-color: hsl(254, 88%, 90%);
}
.container .six {
  background-color: hsl(0, 0%, 100%);
}
.container .seven {
  background-color: hsl(31, 66%, 93%);
}
.container .eight {
  background-color: hsl(39, 100%, 71%);
}

@media screen and (width <= 550px) {
  .container__element {
    width: min(80%, 600px);
  }
  .container__element img {
    max-width: 280px;
  }
  .container__element h1 {
    font-size: 2.75em;
  }
  .container__element h2 {
    font-size: 2.2em;
  }
}
@media screen and (550px < width <= 768px) {
  .container {
    display: grid;
    grid-template-areas: "one one" "two three" "four eight" "six seven" "five five";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 400px 450px 350px 300px;
    place-items: center;
    gap: 1rem;
  }
  .container .container__element {
    height: calc(100% - 50px);
  }
  .container .container__element img {
    max-width: 280px;
  }
  .container .container__element h1 {
    font-size: 2.2em;
  }
  .container .container__element h2 {
    font-size: 1.65em;
  }
  .container .one, .container .five {
    width: min(100%, 90vw);
  }
  .container .two, .container .three, .container .four, .container .six, .container .seven, .container .eight {
    width: 40vw;
  }
  .container .one, .container .two, .container .four, .container .six, .container .seven, .container .eight {
    justify-content: center;
  }
  .container .one {
    grid-area: one;
  }
  .container .two {
    grid-area: two;
  }
  .container .three {
    grid-area: three;
  }
  .container .four {
    grid-area: four;
  }
  .container .five {
    grid-area: five;
    flex-direction: row;
  }
  .container .six {
    grid-area: six;
  }
  .container .seven {
    grid-area: seven;
  }
  .container .eight {
    grid-area: eight;
  }
}
@media screen and (width > 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 75px 75px 75px 75px 125px 125px 125px;
    gap: 1rem;
  }
  .container .container__element {
    height: calc(100% - 50px);
    overflow: hidden;
  }
  .container .container__element h1 {
    font-size: 2.2em;
  }
  .container .container__element h2 {
    font-size: 1.375em;
    line-height: 1.5rem;
  }
  .container .container__element img {
    max-width: 200px;
  }
  .container .one, .container .four, .container .six, .container .seven, .container .eight {
    justify-content: center;
  }
  .container .one {
    grid-column: 2/4;
    grid-row: 1/4;
  }
  .container .two {
    grid-column: 2;
    grid-row: 4/6;
  }
  .container .three {
    grid-column: 3;
    grid-row: 4/6;
  }
  .container .four {
    grid-column: 4;
    grid-row: 1/6;
  }
  .container .five {
    grid-column: 3/5;
    grid-row: 6/8;
    flex-direction: row;
    text-align: left;
  }
  .container .six {
    grid-column: 2;
    grid-row: 6/8;
  }
  .container .seven {
    grid-column: 1;
    grid-row: 1/5;
  }
  .container .eight {
    grid-column: 1;
    grid-row: 5/8;
  }
}

/*# sourceMappingURL=style.css.map */
